{% extends "layout/default.html" %}
{% block body %}

<div class="body_wrapper">
    {# {% for post in postes.items %} items vu que c'est um objet qui vient de la pqginatio#}
    <article class="article_wrapper">
        {# <img class="rounded-circle article"
            src="{{url_for('static', filename='profile_image/' + post.author.image_file)}}">#}
        <div class='right-wrapper'>
            <div class="head_wrapper">
                <small class="author_wrapper"><a href="#">{#{
                        post.author.username}#}Nom formateur</a>
                </small>
                <small class="verry_smal_wrapper">{#{{post.date_posted.strftime('%Y-%m-%d')}}#} Date debut date
                    fin</small>
            </div>
            <div>
                <h2 class="title_"><a href="{{url_for('inscriptionEtudiant')}}"> Inscrire un etudiant à une
                        formation</a>
                </h2>
                <P>{#{{ post.content }}#} Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, non
                    quia! Accusamus eum atque ab nobis sunt aperiam nulla ratione quam saepe! Voluptas optio illum
                    labore velit magni fugit quidem. </P>
            </div>
        </div>

    </article>
    {# {% endfor %}#}
    <div class="button_pages_wrapper">
        {# {% for page_num in postes.iter_pages(left_edge =1,right_edge =1,left_current = 1, right_current =2) %} pour

        {% if page_num %}
        {% if postes.page ==page_num %}
        <a href="{# }" class="button_pages button_pages_color">{{page_num}}</a>
        {% else %}
        <a href="{#" class="button_pages">{{page_num}}</a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
        #}
        bouton pagination
    </div>
</div>
{% endblock %}