<nav class='navbar-wrapper'>
    <div class="wrapper">
        <div class="navbar-left-wrapper nav">
            <a href="{{url_for('home')}}" class="brand">CoursOnline</a>
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('afficheListe')}}">Listes d'inscription</a>
            {#
            <!-- <a href="{{url_for('afficheListedeFormation', intituleFormat = bdformation.intituleFormat)}}">Listes par
                fomation</a> -->#}
        </div>
        <div class="navbar-right-wrapper nav">

            <a href="#">register</a>
        </div>
    </div>
    </div>
</nav>