<nav class='navbar-wrapper'>
    <div class="wrapper">
        <div class="navbar-left-wrapper nav">
            <a href="#" class="brand">CoursOnline</a>
            <a href="#">Home</a>
            <a href="#">About</a>
        </div>
        <div class="navbar-right-wrapper nav">
            {#
            {% if current_user.is_authenticated %}
            <a href="{{url_for('owner_post')}}">Owner_post</a>{% for post in postes %}#}
            <!-- <a href='#'>Add formation</a> -->
            <a href="#">Account </a>
            <a href="#">Logout</a>

            {# <img class="rounded-circle1 article"
                src="{{url_for('static', filename='profile_image/' + default.jpg)}}">

            <!-- <img src="{{image_file}}" alt="" class="rounded-circle1 account-img"> -->
            {% endfor %}
            <!-- {% else %} -->#}
            <a href="{{url_for('home')}}">Se connecter</a>
            <a href="#">register</a>
            {#
            <!-- {% endif %} --> #}
        </div>
    </div>
    </div>
</nav>